body {
    font-family: "Work Sans";
    margin: 0; 
}
header {
    background-color: #70a48b;
    border-bottom: #70a48b;
    border-style: solid;
    border-width: 1px;
    padding: 0px;
    margin: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    align-items: center;
}
li {
    margin:5px;
    padding: 5px; 
}

ul {
    color:#eee;
    font-size: medium;
    list-style-type: none;
    margin: 20px;
    padding: 10px;
    border: .5px solid #eee;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;   
}

.donate {
    background-color: #1f211c;
    border: 1px solid #1f211c;
    border-radius: 5px;
    border-width: 10px;
    padding: 5px;
}

main { 
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

h3 {
    border: 2px solid #1f211c;
    border-radius:5px;
    background-color: #70a48b;
    color: #eee;
    text-align: left;
    padding: 10px;
}
.info {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
}

.Pets {
    border-radius: 10px;
    border-style: hidden;
    flex-direction: row; 
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 25%;
    justify-content: space-between;
}

#Nico {
padding-right: 5px;
padding-bottom: 5px;
}
#Kit {
padding-left: 5px;
padding-bottom: 5px; 
}
#Rosco {
padding-right:5px;
padding-bottom: 5px;
}
#Daisy {
padding-left:5px;
padding-bottom: 5px;
}
#Lucille {
padding-right:5px;
}
#Pete {
padding-left: 5px;
}

footer {
    background-color: #70a48b;
    padding: 10px;
    margin: 0; 
    position: fixed;
    bottom: 0;
    width: 100%;
}  

@media screen and (min-width: 768px) {
header {
    flex-direction: row;
    justify-content: space-between;
 }

 .donate {
    border-width: 5px;
    padding: 10px;
 }

 main { 
    flex-direction: row;
    margin: 0;
 }
.info {
    width: calc(100% / 3 * 1);
     margin: 10px;
     margin-top: 25px;
     padding-right:45px;
     justify-content: space-between;
 }
.Pets {
    width: calc( 100% / 3 * 2);
    margin: 5px;
    margin-top: 25px;
    margin-bottom: 10px ;
    padding-left: 45px;
    padding-bottom: 10%;
    align-items:stretch;
    flex-wrap: wrap;
}
#Nico {
padding-right: 5px;
padding-left: 5px;
padding-bottom: 5px;
width: 25%;

}
#Kit {
padding-left: 5px;
padding-right: 5px;
padding-bottom: 5px;
width: 25%;

}
#Rosco {
padding-left: 5px;
padding-bottom:5px;
width:25%;
}
#Daisy {
padding-top: 5px;
padding-bottom: 5px;
padding-right: 5px;
width: 25%;
}
#Lucille {
padding-top: 5px;
padding-bottom: 5px;
padding-left: 5px;
width: 25%;
}
#Pete {
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
width: 25%;
}
}
